<h2>rps choice/outcome page</h2>

<h1><%= @player_image.html_safe %>player chose</h1> 

<h1><%= @computer.html_safe %> computer chose</h1>


<h1><%= @result.html_safe %> computer chose</h1>



<%= %>

<%= %>