<h2><%=@ocean.name%></h2>
<p>The area of the <%=@ocean.name%> is <%=@ocean.area%> sq km</p>
<p>The average depth of the <%=@ocean.name%> is <%=@ocean.average_depth%> m</p>
<p>The deepest depth of the <%=@ocean.name%> is <%=@ocean.deepest_depth%> m</p>
